.grid { 
    margin-top: 70px;
    display: grid;
    grid-template-rows: 84px 84px 84px 84px 84px ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    }
.link-item{
    text-decoration: none;
    color: white;
}
.item-menu{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    text-align: center;
    cursor: pointer;
    align-content: center;
    box-sizing: border-box;
    border: 1px solid #c49fff7a;
    background-color: rgba(255, 255, 255, 0.05);
}
.item-menu p {
    display: block;
    margin: 14px auto 0;
    padding: 0;
}
.item-menu i {
    display: block;
	position: relative;
}
.item-menu i::before {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
	top: 10px;
	content: '';
	width: 67px;
    height: 40px;
	/* вызов спрайта и задание размеров */
	background: url("../../img/icons.svg");
    background-repeat: no-repeat;
	background-size: 67px auto;
}
.item-menu .prodazhy::before {
    background-position: 0px 0px;
}
.item-menu .ostatki::before {
    background-position: 0px -205px;
}
.item-menu .debetorka::before {
    background-position: 0px -41px;
}
.item-menu .zakazy::before {
    background-position: 0px -246px;
}
.item-menu .analitika::before {
    background-position: 0px -82px;
}
.item-menu .magaziny::before {
    background-position: 0px -287px;
}
.item-menu .balans::before {
    background-position: 0px -123px;
}
.item-menu .fin::before {
    background-position: 0px -328px;
}
.item-menu .nastroyki::before {
    background-position: 0px -164px;
}
.item-menu .kontrol::before {
    background-position: 0px -369px;
}
@media (max-width: 340px){
    .grid { 
        margin-top: 20px;
        }
  
}