span.period-zakaz {
    font-size: 14px;
    margin-top: -14px;
    display: block;
    color: #A8B1D2;
    letter-spacing: 0.5px;
}
.grid-table2 {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    border: 1px dashed #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.kolonka-telo:nth-child(2n+1), .kolonka-telo2:nth-child(2n+2), .kolonka-telo3:nth-child(2n+3){
    background: #192451;
}
.z1, .z2, .z3 {
    background-color: #313d6c;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
}
.t2, .t3 {
    /* border-left: 1px dashed #fff; */
    text-align: center;
}
.t1{
    padding-left: 7px;
    overflow: hidden;
}
.jj {
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.an{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}