.list-analys {
    width: 70%;
    margin: 30px auto;
    letter-spacing: 1px;
    text-align: center;
    /*line-height: 40px;*/
    padding: 15px;
    border: 1px solid #4a4f8b;
    background-color: #18154b;
    box-shadow: 0px 4px 4px 0px black;
}
.back {
    border: 1px solid #6062a3;
    width: 50%;
    text-align: center;
    padding: 10px;
    background-color: #29255d;
    letter-spacing: 1px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px #00000063;
}