.grid-table-debet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    background-color: #9e51ca3d;
    /* border: 1px dashed #fff; */
    margin-bottom: 0px;
    padding: 10px;
    letter-spacing: 1px;
}

.kol {
    /* display: grid; */
    /* border-bottom: 1px solid #fff; */
    overflow: hidden;
    /* height: 20px; */
    /* align-content: center; */
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    text-overflow: ellipsis;
}
.kat {
    display: block;
    /* background-color: #141f3d; */
    padding: 0;
    margin: 0;
    font-size: 0.83em;
    font-weight: 100;
    /* letter-spacing: 1px; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1px;
    /* border: 1px solid #727c9d; */
    /* padding-left: 10px; */
}
.total {
    text-transform: none;
    margin-top: 5px;
}
p.p {
    color: #A8B1D2;
    margin: 0;
}
span.sr {
    color: #ff8d93;
}
span.sg {
    color: #8dff90;
    font-size: 14px;
}
.zag1, .zag2, .zag3 {
    border-bottom: 1px dashed #fff;
    padding-bottom: 7px;
    text-align: center;
}
.zag1, .zag2 {
    border-right: 1px dashed #fff;
}
.tel3 {
    text-align: right;
}
.tel2, .tel1 {
    text-align: center;
    border-right: 1px dashed #fff;
}
.tel1:nth-child(2n+1), .tel2:nth-child(2n+2), .tel3:nth-child(2n+3){
    background: #4d4176;
}