em.text-muted {
    display: block;
    margin: 40px;
    text-align: center;
}
.stroka {
    font-size: 10px;
    font-weight: 400;
    width: initial !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    border-bottom: 1px solid #727c9d;
    border-top: 1px solid #727c9d;
    margin-top: -1px;
    text-transform: none;
}
.grid-table-magazin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    /* border: 1px dashed #fff; */
    margin-bottom: 20px;
    letter-spacing: 1px;
}
span.q {
    display: block;
    text-align: right;
    line-height: 14px;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.summa {
    color: #A8B1D2;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
span.chislo {
    color: #55feff;
   
}
.MuiSvgIcon-root {
    padding-right: 0px;
}
.text {
    width: 100%;
}
.zagolovok {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
}
.ot{
    border-left: 1px solid #727c9d;
    padding: 0 10px;
}
.rr{
    padding-right: 10px;
}
.k {
    /* display: grid; */
    /* border-bottom: 1px solid #fff; */
    /* overflow: hidden; */
    /* height: 20px; */
    /* align-content: center; */
    /* white-space: nowrap; */
    font-size: 11px;
    line-height: 15px;
    /* padding: 0px; */
    /* text-overflow: ellipsis; */
}
.k:nth-child(8n+1), .k:nth-child(8n+2), .k:nth-child(8n+3), .k:nth-child(8n+4) {
    background: #192451;
}
.t{
    /* border-left: 1px dashed #fff; */
    text-align: right;
}
.z1, .z {
    background-color: #313d6c;
    line-height: 25px;
    text-align: right;
}
.z1{
    text-align: center;
}
.card-title2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 22px;
}
.card-title2 span {
    color: #A8B1D2;
}