.gl-spanlabel {
    width: auto!important;
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #21325f;
    /* border-color: #544492; */
    /* border-style: outset; */
    padding: 5px;
}
.grey{
    color: #a7a6a6;
    font-size: 10px;
}
.gl-spanlabel-grey{
    width: initial !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    /* border-top: 2px solid #9379e3; */
    margin-bottom: 5px;
    margin-top: 5px;
    /* border-left: 2px solid #7e52cc; */
    background-color: #282e3f;
    /* border-bottom: 2px solid #520767; */
    /* border-right: 2px solid #240b2b; */
    /* border-top: 1px solid #727c9d; */
    /* border-color: #544492;
    border-style: outset; */
    /* margin-top: -1px;*/
    padding: 1px;
}
.gl-kategory{
    display: block;
    /* background-color: #141f3d; */
    padding: 5px;
    margin: 0;
    /* font-size: 12px; */
    font-weight: 100;
    letter-spacing: 1px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* margin-top: -1px; */
    /* border: 1px solid #727c9d; */
    /* padding-left: 10px;*/
}
p.post {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #A8B1D2;
}
.sl-spanlabel{
    width: initial !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-top: 5px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #727c9d; */
    /* border-top: 1px solid #727c9d; */
    /* margin-top: -1px; */
    background-color: #21325f;
    
}
.gl-inner{
    margin: 0px 15px 15px !important;
    overflow: scroll;
}
.sl-kategory{
    display: block;
    /* background-color: #141f3d; */
    /* padding: 0; */
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    /* letter-spacing: 1px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: -1px; */
    /* border: 1px solid #727c9d; */
    padding-left: 10px;
    text-transform: none;
}
.sl-grid-table{
    display: grid;
    grid-template-columns: 7fr 3fr 3fr;
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    border: 1px dashed #405b9f;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.sl-zagolovok1, .sl-zagolovok2, .sl-zagolovok3 {
    background-color: #232c4c;
    line-height: 25px;
    text-align: center;
}
.sl-kolonka:nth-child(6n+1), .sl-kolonka:nth-child(6n+2), .sl-kolonka:nth-child(6n+3) {
    background: #192451;
}
.sl-kolonka{
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;

}
.grays{
    background-color: #282e3f;
    color: #bdbdbd;
    border-top: 1px solid #46516d;
    border-bottom: 1px solid #46516d;
}