.collapse:not(.show) {
    display: none;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
}
table {
    border-collapse: collapse;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table-sm td, .table-sm th {
    padding: .3rem;
}
th {
    text-align: inherit;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.card-header {
    padding: .5rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(81, 152, 207, 0.55);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 16px;
    font-weight: 400;
}
span.name {
    font-size: 13px;
    width: 75%;
    overflow: hidden;
    display: inline-flex;
}

/* p:nth-child(2n+1) {
    background: #386d8b9e
} */
p {
    margin: 0;
    padding: 5px;
} 
.card {
    border-radius: 4px;
    padding: 0;
    margin: 5px 0;
    font-size: 14px;
    box-shadow: none;
    /* background: linear-gradient(11.34deg, rgba(27, 32, 56, 1) 2.37%, rgba(36, 42, 70, 1) 100%); */
    border: 1px solid #c49fff26;
    background-color: rgba(74, 149, 184, 0.1);
}
button.additem {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    font-size: 16px;
}
.table-container {
    margin: 0px;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
  
  div.expandable > div {
    box-shadow: inset 0 0px 15px 1px rgba(106, 63, 172, 0.6);
    padding: 0;
}
  

  /*-----------------------------------------*/
  div.expandable > div > .inner {
    /*margin: 15px;*/
    overflow: hidden;
  }
  .table-responsive {
    display: block;
    /*padding: 10px;*/
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-spacing: 0;
}
tr.table-stroka-zagolovok {
    background-color: #dc6aa133;
}
th.table-kolonka1-zagolovok {
    padding: 10px;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 95px;
      height: 100px;
}
th.table-kolonki-zagolovok {
    padding: 10px;
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 1px;
    -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 95px;
      height: 10px;
}
tr.table-stroka-telo:nth-of-type(odd) {
    background-color: #4c1558d6;
}
td.table-kolonka1-telo {
    padding: 2px 0px;
    font-size: 12px;
    letter-spacing: 1px;
    min-width: 140px;
    max-height: 20px;
    overflow: hidden;
}
td.table-kolonki-telo {
    text-align: end;
    font-size: 12px;
    letter-spacing: 1px;
    width: 10px;
}
  h5 {
    display: block;
    background-color: #1e129b2b;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1px;
    border: 1px solid #9750d06e;
    padding-left: 20px;
}
.expandable {
    border: 1px solid #6739a6;
}
/*--------------------------------------------*/
.text-center {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
em.text-muted {
    position: absolute;
    top: 30%;
}