.react-datepicker__input-container {
    position: relative;
    display: block;
    width: 100%;
}
.date-section{

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    cursor: pointer;
    align-content: center;
    box-sizing: border-box;
}
.box-input{
    width: 100%;
    border: 1px solid #c49fff7a;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    height: 40px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    border-radius: 4px;
    font-family: HelveticaNeueCyr, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;    
}
.box-input > span{
    background: url(../../img/calendar.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;

}
.date-box{
    display: block;
    align-items: center;
    height: 60px;
}
.date-box > span{
    font-size: 14px;
    color: #A8B1D2;
    letter-spacing: 1px;
    font-weight: 300;
}
.react-datepicker__portal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2147483647;
}
.react-datepicker {
    
    font-size: 0.8rem;
    font-weight: 400;
    /* background-color: #233558; */
    background: url(../../img/Waves.svg), radial-gradient(ellipse 400px 500px at 75% 3%, #233559, #0c132e);
    background-position: 0 0, 0 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    border: 1px solid #114a4a;
    border-radius: 0;
    display: inline-block;
    position: relative;
}
.react-datepicker__triangle {
    position: absolute;
    left: 50px;
}
.react-datepicker__navigation {
    background: none;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    /* width: 0; */
    padding: 0;
    /* border: 0.45rem solid transparent; */
    z-index: 1;
    height: 10px;
    width: 10px;
    text-indent: -999em;
    overflow: hidden;
}
.react-datepicker__navigation--previous {
    left: 10px;
}
.react-datepicker__portal .react-datepicker__navigation {
    border: 0.81rem solid transparent;
}
.react-datepicker__portal .react-datepicker__navigation--previous {
    border-right-color: #ccc;
}
.react-datepicker__navigation--next {
    right: 10px;
}
.react-datepicker__portal .react-datepicker__navigation--next {
    border-left-color: #ccc;
}
.react-datepicker__month-container {
    float: left;
}
.react-datepicker__header {
    text-align: center;
    background-color: #07887a1a;
    border-bottom: 1px solid #195a65;
    padding-top: 8px;
    position: relative;
}
.react-datepicker__portal .react-datepicker__current-month, .react-datepicker__portal .react-datepicker-time__header {
    font-size: 1.44rem;
    letter-spacing: 1px;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: HelveticaNeueCyr, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 100;
}
.react-datepicker__day-names, .react-datepicker__week {
    white-space: nowrap;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #ffffff;
    display: inline-block;
    text-align: center;
    margin: 0.2rem;
}
.react-datepicker__portal .react-datepicker__day-name, .react-datepicker__portal .react-datepicker__day, .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2.3rem;
}
.react-datepicker__month {
    margin: 0.4rem;
    text-align: center;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range {
    border-radius: 0;
    background-color: #0c132e;
    border: 1px solid #183e5b;
    color: #fff;
}
.react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled {
    cursor: default;
    color: #726d9a;
}
.react-datepicker__today-button {
    background: #072338;
    border-top: 1px solid #114a4a;
    cursor: pointer;
    text-align: center;
    padding: 7px 0;
    clear: left;
    letter-spacing: 1px;
}