div.expandable > div > .inner {
    /*margin: 15px;*/
    overflow: hidden;
  }
.kategory{
    display: block;
    /*background-color: #141f3d;*/
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1px;
    /*border: 1px solid #727c9d;*/
    padding-left: 10px;
}
div.expandable > div {
    /*border: 1px solid #727c9d;*/
    padding: 0;
}
table {
    width: 100%;
    overflow-x: scroll;
    border-collapse: collapse; 
    display: block;
    -webkit-overflow-scrolling: touch;
    border-spacing: 0;   
  }
  
  
 
  tr:nth-child(even) {
    background: #1c274c;
  }
  tr:hover {
    background-color: #732867;
  }
  td{
    overflow: hidden;
    white-space: nowrap;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px solid #727c9d;
  }
  th{
    font-weight: 300;
    height: 30px;
    border-right: 1px solid #727c9d;
    max-width: 60px;
    text-align: left;
    letter-spacing: 0.5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  td.table-kolonka1-telo {
    text-overflow: ellipsis;
    max-width: 140px;
    font-size: 10px;
    letter-spacing: 1px;

}
th.table-kolonki-zagolovok {
    white-space: nowrap;
    width: 100px;
    padding-left: 3px;
    font-size: 10px;
}
td.table-kolonki-telo {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}
td:nth-child(2){
    background-color: #0f0f1c80;
}
th:nth-child(2){
    background-color: #0f0f1c80;
}
tr.table-stroka-zagolovok {
    background-color: #2e3c77;
}
th.table-kolonka1-zagolovok {
  
    min-width: 140px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.buttontext {
  padding: 0 !important;
  display: block !important;
  text-align: left !important;
  width: 100% !important;
  color: #fff !important;
  line-height: 1.25 !important;
  /*background-color: #141f3d !important;*/
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 15px;
  height: 15px;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  padding-right: 10px;
}
.spanlabel {
  width: initial !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  border-bottom: 1px solid #727c9d;
  border-top: 1px solid #727c9d;
  margin-top: -1px;
}
td.table-kolonki-telo.red {
  color: #ff8383;
}