.input-kategory {
    width: 100%;
}
.MuiNativeSelect-icon {
    color: rgb(111, 98, 160) !important;
}
.MuiNativeSelect-select:not([multiple]) option, .MuiNativeSelect-select:not([multiple]) optgroup {
    background-color: #202b48 !important;
    font-weight: 300;
}
.grid-table-tovary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    /* border: 1px dashed #fff; */
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.zag{
    background-color: #313d6c;
    line-height: 25px;
    text-align: center;
    margin-top: 5px;
}
.telo11:nth-child(2n+1), .telo22:nth-child(2n+2), .telo33:nth-child(2n+3) {
    background: #1c2548;
}
.telo11 {
    padding-left: 5px;
    overflow: hidden;
}
.telo11,.telo22, .telo33 {
    line-height: 20px;
}
.telo22, .telo33 {
    /* border-left: 1px dashed #fff; */
    text-align: right;
    padding-right: 10px;
}
.stroka2 {
    font-size: 12px;
    font-weight: 400;
    width: initial !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    border-bottom: 1px solid #727c9d;
    border-top: 1px solid #727c9d;
    margin-top: -1px;
    text-transform: none;
    background-color: #310a39;
}
span.imya2 {
    text-transform: none;
}
.text2 {
    width: 100%;
    margin: 7px 0;
}
.info-tovary {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
}
.zagolovok-tovary {
    font-size: 12px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
}
.summa-tovary {
    color: #A8B1D2;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.ff {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #fff;
}

