.grid-table5 {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 3fr;
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    /* border: 1px dashed #fff; */
    margin-bottom: 20px;
    letter-spacing: 1px;
}
