.grid-table{
    display: grid;
    grid-template-columns: 7fr 3fr 3fr 1fr;
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    border: 1px dashed #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.kolonka {
    /* display: grid; */
    /* border-bottom: 1px solid #fff; */
    overflow: hidden;
    /* height: 20px; */
    /* align-content: center; */
    white-space: nowrap;
    font-size: 12px;
    line-height: 20px;
    padding: 0px;
    text-overflow: ellipsis;
}

.telo1 {
   padding-left: 10px;
}

.zagolovok2, .zagolovok3, .zagolovok4 {
    border-left: 1px dashed #fff ;
}
/* .telo1:nth-child(even), .telo2:nth-child(even), .telo3:nth-child(even), .telo4:nth-child(even){
    background: #192451;
} */
.kolonka:nth-child(8n+1), .kolonka:nth-child(8n+2), .kolonka:nth-child(8n+3), .kolonka:nth-child(8n+4){
    background: #192451;
}

.zagolovok1, .zagolovok2, .zagolovok3, .zagolovok4 {
    background-color: #313d6c;
    line-height: 25px;
    text-align: center;
}

.telo2, .telo3, .telo4{
    border-left: 1px dashed #fff;
    text-align: center;
}
.App {
    margin-top: 30px;
}
p.sub-str {
    font-size: 16px;
    letter-spacing: 1px;
}
p.sub-str>span {
    color: #A8B1D2;
    font-size: 12px;
}
.date-box > span {
    font-size: 16px;
    white-space: nowrap;
}
.zakazy .date-section {
    grid-template-columns: 1fr;
}
p.sub-str-otgr {
    font-size: 14px;
    letter-spacing: 1px;
}
.card-title-zakaz {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 16px;
    line-height: 32px;
}
.card-title-zakaz span {
    color: #A8B1D2;
    font-size: 28px;
}
p.net-zakazov {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.6px;
    margin-top: 100px;
}
img.loading {
    display: block;
    width: 160px;
    margin: 40px auto;
}
.red {
    color: #ff9ee1;
}
.green{
    color: #8fffe0;
}