.widget{
    padding: 0px 0px 0px 0px;
}
.widget p{
    margin: 20px 0 0 0;
    padding: 0;
}
.card-title{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 32px;
}
.card-title span{
    color: #A8B1D2;
}
.card {
    border-radius: 4px;
    padding: 15px;
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border: 1px solid #c49fff7a;
    background-color: rgba(255, 255, 255, 0.05);
}
.card-metric-title {
    color: #A8B1D2;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 6px;
}
.card-metric-value {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: normal;
}
.card-metric-change {
    font-size: 16px;
    line-height: 20px;
    color: #00d1d2;
    font-weight: 300;
    white-space: pre;
}