.MyApp {
    width: calc(100% - 40px);
    min-height: calc(100vh - 40px);
    margin: 20px auto;
    position: relative;
    max-width: 720px;
}
.link-logo{
    display: block;
    width: 75px;
    height: 75px;
}
.link-menu {
    display: block;
    width: 30px;
    height: 30px;
}
.header-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 450px){
    .MyApp {
        width: calc(100% - 40px);
        margin: 20px auto;
    }
  
}