@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'), url('./fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('./fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'), url('./fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('./fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'), url('./fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('./fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./fonts/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'), url('./fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('./fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('./fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html {
    background: -moz-radial-gradient(ellipse 400px 500px at 75% 3%, #233559, #0c132e);
    background: -webkit-radial-gradient(ellipse 400px 500px at 75% 3%, #233559, #0c132e);
    background: -o-radial-gradient(ellipse 400px 500px at 75% 3%, #233559, #0c132e);
    background: -ms-radial-gradient(ellipse 400px 500px at 75% 3%, #233559, #0c132e);
    background: url(./img/Waves.svg), radial-gradient(ellipse 400px 500px at 75% 3%, #233559, #0c132e); 
    background-position: 0 0, 0 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: HelveticaNeueCyr, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}